/* milkdown の内部的な CSS を修正したい場合はこれを利用する */
.milkdownEditor :global(.milkdown .ProseMirror) {
  margin: 0 auto;
  max-width: 900px;
  min-height: 100dvh;
  padding: 42px clamp(24px, 6vw, 84px);
}

/* Milkdown でリンクをクリックしたらページを開くようにしたのでポインタも変更するようにした */
.milkdownEditor :global(.milkdown .ProseMirror a[href]) {
  cursor: pointer;
}

.milkdownEditor :global(.milkdown .milkdown-block-handle) {
  /* Tauri でもドラッグが正しく取れるようにする */
  -webkit-user-drag: element;
  /* 要素の左に出てくるハンドルの動きを俊敏にしたいのでアニメーションを切る */
  transition: none;
}

.milkdownEditor :global(.milkdown .milkdown-slash-menu .menu-groups) {
  max-height: min(420px, calc(50dvh - 48px));
}
